body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /* background-color: rgba(18, 18, 19, 0.059); */
}
/* main conatiner */
main{
  width: 700px
}
header{
  margin-left: 50%;
}
/* Title tag design */
.titleContainer{
  background-color: rgba(34, 136, 225, 0.877);
}

/* taskcontainer design */
.taskContainer, .taskContainerHeader{
  display: flex;
  width: 99%;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 2px; 
  background-color: rgb(249, 251, 252);
}
.taskContainerHeader{
  margin-bottom: 7px; 
  background-color: rgb(160, 171, 174);
}
.taskDescription{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-left: 5px;
  
}
.taskTitle{
  width: 80%;
  word-wrap: break-word;
}
.taskStatus,.taskStatusCompleted{
  width: 7rem;
  height: 2rem;
  border: 1rem black;
  border-style: solid;
  border-width: 2px;
  position: relative;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold ;
  padding:5px
}

.taskStatusCompleted{
  background-color: rgb(32, 117, 32);
  color: white;
  width: 6rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header{
  margin-right:160px;
  color: rgb(8, 8, 8);
  /* background-color: rgb(13, 90, 245); */
}
/* delete task div and button design */
.deleteTask{
  left: 0;
  right: 0;
  margin: auto; 
}
.deleteTaskButton{
  cursor: pointer;
}
#descriptionContainer{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
#description{
  height: 3rem;
  width: 100%;
}
.deleteTaskButton{
  border-radius: 50%;
}
/* add task button design */
#addTask:hover{
  cursor: pointer;
}
#addTask{
  border-radius: 50%;
  border-color: black;
  width: fit-content;
  margin-left: 1rem;
}

